.example-form {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.action-button {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px 20px;
}
